<%- include("partials/header") -%>

    <div class="top-container">

    </div>


    <div class="middle-container">
        <p> Click here to take attendance <button type="submit"> Attendance</button></p>
    </div>

    <div class="bottom-container">
        <p> Click here to view past attendances <button type="submit"> Records</button></p>
    </div>

    <%- include("partials/footer") -%>