<%- include("partials/header") -%>

    <div class="attend-record">
        <h2>Recent Attendance</h2>
    </div>

    <div class="weekly-shedule">
        <h5> Click here to download weekly shedule</h5>
    </div>

    <div class="reports">
        <p> Click here to upload records</p>
        <p> Past reports can be view here</p>
    </div>

    <%- include("partials/footer") -%>