<%- include("partials/header") -%>

    <h3>
        <center> Profile</center>
    </h3>



    <div class="profile-img">
        <center>
            <img src="/profile.jpeg" alt="Profile Picture" width="200px">
            <p> Name of User</p>
        </center>
    </div>


    <div class="profle">
        <center>
            <table>
                <tr>
                    <td> First Name</td>
                    <td> Last Name</td>
                </tr>
                <tr>
                    <td> Email</td>
                    <td> Phone Number</td>
                </tr>
                <tr>
                    <td> Major</td>
                    <td> I/D Number</td>
                </tr>
                <tr>
                    <td> Date of Birth</td>
                    <td> Password</td>
                </tr>
                <tr>
                    <td> <button type="submit"> Edit Changes</button></td>
                    <td> <button type="submit"> Save Changes</button></td>
                </tr>
            </table>
        </center>
    </div>

    <%- include("partials/footer") -%>